<form [formGroup]="form">
    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label> {{ 'title' | translate }} </mat-label>
            <input matInput formControlName="title" placeholder="{{ 'ex-title' | translate }}">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label> {{ 'isbn' | translate }} </mat-label>
            <input matInput formControlName="isbn" [placeholder]=" 'ex-isbn' | translate ">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label> {{ 'description' | translate }} </mat-label>
            <textarea matInput formControlName="description" [placeholder]=" 'ex-description' | translate" ></textarea>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>{{ 'notes' | translate }}</mat-label>
            <textarea matInput formControlName="notes" [placeholder]="'ex-notes' | translate"></textarea>
        </mat-form-field>
    </p>

</form>

