<h1> {{ 'lend-book-title' | translate }} </h1>

<form [formGroup]="form">

    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label> {{ 'name-owner' | translate }} </mat-label>
            <input matInput formControlName="owner" placeholder="{{ 'ex-name-owner' | translate }}">
        </mat-form-field>
    </p>

    <p>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label> {{ 'delivery-date' | translate }} </mat-label>
            <input matInput [matDatepickerFilter]="dateFilter" formControlName="date" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>    
    </p>

    <button mat-raised-button [disabled]="form.invalid" (click)="lendBook()" color="primary"> {{ 'lend-book-btn' | translate }}</button>
    <button mat-raised-button (click)="cancel()" color="warn"> {{ 'cancel' | translate}} </button>
</form>
